body {
  min-width: 320px;
  min-height: 100vh;
}

.root {
  margin: 0;
  padding: 0;
  display: flex;
}

.modal {
  font-size: 0.8rem;
}

.form-control {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

.btn {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
